<!DOCTYPE html>
<html>
<head lang='en-us'>
  <meta charset="utf-8"/>
  <title>Projects</title>
</head>
<body>
  {{> header}}
  <ol>MY PROJECTS
    <li><a href='https://protected-lowlands-13141.herokuapp.com'>Node Web Server Project</a></li>
  </ol> 

  {{> footer}}
</body>
</html>